<section class="relative">
  <div class="background-container">
    <img src="/img/fondo_login.png" alt="Fondo" class="background-image">
  </div>

  <div class="login-container">
    <div class="login-box">
      <img src="/img/fondo_icono_login.png" alt="Logo" class="logo">
      <h2>Bienvenido a BillingSof!</h2>
      <p>Acceda a su cuenta</p>

      <form (ngSubmit)="login()">
        <label for="usuario" class="input-label">Usuario</label>
        <input type="text" id="usuario" placeholder="Ingrese su usuario" [(ngModel)]="credentials.usuario"
          name="usuario"
          required
          class="input-field"
        >

        <label for="password" class="input-label">Contraseña</label>
        <div class="password-container">
          <input [type]="showPassword ? 'text' : 'password'" id="password" placeholder="Ingrese su contraseña"
            [(ngModel)]="credentials.clave" name="password" required class="input-field">
          <span class="toggle-password" (click)="togglePasswordVisibility()">👁️</span>
        </div>

        <div class="remember-container text-sm">
          <span class="flex items-center gap-1 justify-between">
            <input type="checkbox" id="recordar" [(ngModel)]="recordar" name="recordar" class="w-fit">
            <label for="recordar">Recordar Cuenta</label>
          </span>
          <a href="#" class="forgot-password">¿Olvidaste tu contraseña?</a>
          </div>
          <button type="submit" class="login-button">Iniciar Sesión</button>
          </form>
          </div>
          </div>
</section>