<!-- Tabla de productos -->
<div class="table-container">
  <ng-container *ngIf="columnasVisibles$ | async as columnas">
    <ng-container *ngIf="productosVisibles$ | async as productos">
      <table class="product-table" *ngIf="productos.length > 0; else sinProductos">
        <thead>
          <tr>
            <th *ngFor="let columna of columnas">{{ columna.name }}</th>
            <th>Acciones</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let producto of productos">
            <td *ngFor="let columna of columnas">
              {{ producto[columna.key] }}
            </td>
            <td>
              <button class="btn-edit" (click)="onEditarProducto(producto)">
                <i class="fa-regular fa-pen-to-square"></i>
              </button>
              <button class="btn-delete" (click)="onEliminarProducto(producto)">
                <i class="fa-solid fa-trash-can"></i>
              </button>
            </td>
          </tr>
        </tbody>
      </table>

      <!-- 🔔 Mensaje si no hay productos -->
      <ng-template #sinProductos>
        <div class="mensaje-vacio">
          No hay productos que coincidan con los filtros aplicados.
        </div>
      </ng-template>
    </ng-container>
  </ng-container>
</div>
