<div class="app-container">
  <!-- Sección de bienvenida y barra de búsqueda -->
  <div class="welcome-section">
    <div class="welcome-section__breadcrumbs">
      <span class="icon-button">
        <i class="fa-solid fa-house icon"></i>
      </span>

      <p>
        Dashboard
        <span>/</span>
      </p>
    </div>

    <div class="welcome-section__content">
      <h1>Hola, Pablo</h1>

      <div class="search-bar">
        <input id="search-input" type="text" placeholder="Qué Módulo esta buscando?" (input)="searchQuery.set($any($event.target).value)" class="search-bar__input" />

        <button type="button" class="search-bar__button">
          <i class="fa-solid fa-magnifying-glass"></i>
        </button>
      </div>
    </div>
  </div>

  <!-- Contenedor principal -->
  <div class="main-container">
    <aside class="main-container__sidebar-modules" [class.isExpanded]="sidebarOpen()">
      <button type="button" (click)="toggleSidebar()" class="icon-button">
        <i class="fa-solid fa-indent icon"></i>
      </button>

      <div class="modules-container">
        <ul class="modules-container__modules-list">
          @for (module of filteredModules(); track module.name) {
          <li (click)="navigateTo(module.name)" class="sidebar-module-item">
            <span>
              <i [class]="getModuleIcon(module.name)"></i>
            </span>

            {{ module.name }}
          </li>
          }
        </ul>
      </div>
    </aside>

    <main class="main-container__content" [class.isExpanded]="sidebarOpen()">
      <div class="content-container">
        <div class="content-grid">
          <div class="content-grid__first-column" [class.isExpanded]="sidebarOpen()">
            <!-- Estadísticas -->
            <section class="statistics-section">
              <h2 class="section-title">Estadísticas del Negocio</h2>

              <div class="statistics-cards-grid" [class.isExpanded]="sidebarOpen()">
                @for (statistic of businessStats() | keyvalue; track statistic.key) {
                <div class="statistics-cards-grid__card">
                  <span [class]="getIconContainerColor(`${statistic.value.icon.split(' ')[1]}`)">
                    <i class="fa-solid" [class]="statistic.value.icon"></i>
                  </span>

                  <p class="statistic-value">
                    @if (statistic.value.label.split("-")[0].trim() === "Ganancias") { $ }

                    {{ statistic.value.value }}
                  </p>

                  <p class="statistic-label">
                    <strong>
                      {{ statistic.value.label.split('-')[0] }}
                    </strong>
                    -
                    <span [class]="statistic.value.icon.split(' ')[1]">
                      {{ statistic.value.label.split('-')[1] }}
                    </span>
                  </p>
                </div>
                }
              </div>
            </section>

            <!-- Nuevos Clientes -->
            <section class="new-clients-section" [class.isExpanded]="sidebarOpen()">
              <div class="title-container">
                <span>
                  <i class="fa-solid fa-user"></i>
                </span>

                <h2 class="section-title">Nuevos Clientes</h2>
              </div>

              <canvas *ngIf="salesData().length" id="salesChart"></canvas>

              <div class="metrica-container">
                <p>Crecimiento relación mes anterior</p>

                <span>
                  15%
                  <i class="fa-solid fa-arrow-trend-up"></i>
                </span>
              </div>
            </section>
          </div>

          <div class="content-grid__second-column" [class.isExpanded]="sidebarOpen()">
            <!-- Más datos -->
            <section class="additional-data-section">
              <h2 class="section-title">Más Datos</h2>

              <div class="data-container">
                <div class="data-container__chart-card">
                  <h3 class="section-subtitle">Marcas más Vendidas</h3>

                  <canvas id="radarChart"></canvas>
                </div>

                <div class="data-container__table-card">
                  <h3 class="section-subtitle">Productos más Vendidos</h3>

                  <table>
                    <colgroup>
                      <col style="width: 40%" />
                      <col style="width: 40%" />
                      <col style="width: 20%" />
                    </colgroup>

                    <tbody>
                      @for (product of topProducts(); track product.name) {
                      <tr>
                        <td>{{ product.name }}</td>
                        <td>{{ product.units }} <span>(Unidades)</span></td>
                        <td>$ {{ product.total }}</td>
                      </tr>
                      }
                    </tbody>
                  </table>
                </div>
              </div>
            </section>

            <!-- Notificaciones -->
            <section class="notifications-section">
              <h2 class="section-title">Notificaciones</h2>

              <div class="notifications-container">
                <div>
                  <ul class="notifications-list">
                    @for (notification of notifications(); track notification.title) {
                    <li class="notifications-list__notification-card">
                      <span>
                        <i [class]="getNotificationIcon(notification.type)"></i>
                      </span>

                      <div>
                        <p class="notification-title">
                          {{ notification.title }}
                        </p>

                        <p class="notification-description">
                          {{ notification.description }}
                        </p>

                        <p class="notification-date">
                          {{ notification.date }}
                        </p>
                      </div>
                    </li>
                    }
                  </ul>
                </div>
              </div>
            </section>
          </div>
        </div>
      </div>
    </main>

    <!-- Popup con los módulos -->
    <div id="floating-menu" class="floating-menu" [class.hidden]="!floatingMenuOpen()">
      <div class="popup-content">
        <h3>Módulos</h3>
        <div class="module-grid">
          <div *ngFor="let group of groupedModules" class="module-group">
            <h4>{{ group.category }}</h4>
            <div class="module-items">
              <div
                *ngFor="let module of group.modules"
                class="module-item"
                (click)="navigateTo(module.name)"
                (mouseenter)="highlightModule(module)"
                (mouseleave)="unhighlightModule(module)"
              >
                <i class="module-icon" [class]="getModuleIcon(module.name)"></i>
                <span [class.selected]="module.selected">{{ module.name }}</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Popup de Notificaciones -->
    <div id="notifications-popup" class="floating-menu" [class.hidden]="!notificationsPopupOpen()">
      <div class="popup-content">
        <h3>Notificaciones</h3>
        <div class="notification-groups">
          <div *ngFor="let group of notificationGroups()" class="notification-group">
            <h4>{{ group.category }}</h4>
            <div class="notification-items">
              <div *ngFor="let notification of group.notifications" class="notification-item">
                <i [class]="getNotificationIcon(notification.type)"></i>
                <div class="notification-item-content">
                  <strong>{{ notification.title }}</strong>
                  <p>{{ notification.description }}</p>
                  <span>{{ notification.date | date : 'dd/MM/yyyy, hh:mm a' }}</span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Popup de Soporte -->
    <div id="support-popup" class="floating-menu" [class.hidden]="!supportPopupOpen()">
      <div class="popup-content">
        <h3>Soporte</h3>
        <div class="support-items">
          <div class="support-item">
            <i class="fa-solid fa-phone"></i>
            <div class="contact-info">
              <span>096 331 9244</span>
              <span>098 724 3834</span>
              <span>072 576 031</span>
              <span>Ext: 402 (Contabilidad)</span>
              <span>Ext: 501 - 502 - 503 (Soporte)</span>
            </div>
          </div>
          <div class="support-item">
            <i class="fa-solid fa-clock"></i>
            <span>Atendemos de lunes a viernes de 9:00 a 19:00</span>
          </div>
          <div class="support-item clickable" (click)="openMessenger()">
            <i class="fa-brands fa-facebook-messenger"></i>
            <span>Enviar mensaje por Messenger</span>
          </div>
          <div class="support-item clickable" (click)="openTelegram()">
            <i class="fa-brands fa-telegram"></i>
            <span>Enviar mensaje por Telegram</span>
          </div>
          <div class="support-item clickable" (click)="openSMS()">
            <i class="fa-solid fa-comment-sms"></i>
            <span>Enviar mensaje de texto (SMS)</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
