/* tailwind */
@theme {
  // Accent colors
  --color-accent-500: #0ebeb2;

  // Complementary colors
  --color-complementary-950: #262626;

  // Informative colors
  --color-informative-500: #0ea2e9;
  --color-informative-50: #f0f9ff;

  // Neutral colors
  --color-neutral-400: #bdbdbd;
  --color-neutral-200: #e3e3e3;
  --color-neutral-50: #f6f6f6;

  // Text colors
  --color-text-950: #2b2b2b;
  --color-text-600: #5a5a5a;
  --color-text-500: #6d6d6d;
  --color-text-50: #f6f6f6;

  // Primary colors
  --color-primary-900: #86152d;
  --color-primary-600: #d51f36;
  --color-primary-50: #fff1f1;

  --color-red-pp-500: #b71c1c;
  --color-gray-pp-50: #f5f5f5;

  --text-red-pp-500: var(--color-red-pp-500);
}
