<header class="grid h-[7vh] w-full grid-cols-3 items-center text-red-pp-500 bg-white px-4">
  <div class="col-span-1">
    @if (isDashboard ) {
    <a href="dashboard" class="flex w-fit h-[6vh]">
      <img src="/svg/logo-billingsof-imagotipo.svg" alt="Logo horizontal BillingSof"/>
    </a>
    }
  </div>
  <div class="col-span-1 text-xl font-medium text-center">{{ empresa }}</div>

  <div class="flex items-center justify-end col-span-1 gap-x-4">
    <app-icon-dropdown iconName="notifications">
      <h1 class="mb-8 text-base font-medium text-text-950">Notificaciones</h1>

      <ul class="flex flex-col gap-8">
        <li>
          <h2 class="font-medium mb-3.5 text-base text-text-500">Hoy</h2>

          <ul class="flex flex-col gap-3.5">
            <li class="flex gap-2 p-2 cursor-pointer rounded-xl hover:bg-neutral-50">
              <span class="shrink-0 flex h-[2.5rem] w-[2.5rem] items-center justify-center rounded-full bg-informative-50 text-informative-500">
                <mat-icon svgIcon="system_update_alt"></mat-icon>
              </span>

              <div class="flex-1">
                <h3 class="font-medium text-sm leading-6.5 text-text-950 truncate">Nueva actualización disponible</h3>

                <p class="font-normal text-sm leading-6.5 text-text-600 w-[14.375rem] truncate">sample text of a description</p>

                <span class="text-sm font-normal text-text-600"> 19 dic, 10:30 AM </span>
              </div>

              <div class="shrink-0 h-2.5 w-2.5 rounded-full bg-accent-500"></div>
            </li>
          </ul>
        </li>
      </ul>
    </app-icon-dropdown>

    <app-icon-dropdown iconName="apps"></app-icon-dropdown>

    <app-icon-dropdown iconName="support_agent">
      <ul class="flex flex-col gap-1">
        <li class="flex h-[3.25rem] items-center gap-2 px-4 text-sm font-normal rounded-lg cursor-pointer text-text-950 hover:bg-neutral-50">
          <mat-icon svgIcon="sms" style="color: #5A5A5A;"></mat-icon>

          Recibir Soporte
        </li>

        <li class="flex h-[3.25rem] items-center gap-2 px-4 text-sm font-normal rounded-lg cursor-pointer text-text-950 hover:bg-neutral-50">
          <img src="/svg/messenger.svg" alt="Logo de Messenger" class="h-auto w-6">

          Contáctanos desde Facebook
        </li>

        <li class="flex h-[3.25rem] items-center gap-2 px-4 text-sm font-normal rounded-lg cursor-pointer text-text-950 hover:bg-neutral-50">
          <img src="/svg/telegram.svg" alt="Logo de Messenger" class="h-auto w-6">

          Iniciar chat via Telegram
        </li>
      </ul>

      <div class="h-[0.063rem] w-full my-4 bg-neutral-200"></div>

      <div class="mb-6">
        <p class="mb-6 text-sm font-medium text-text-950">
          Nuestras líneas de contacto
        </p>

        <ul class="flex flex-col gap-6">
          <li class="flex gap-2 items-center text-sm font-normal px-4 text-text-950">
            <mat-icon svgIcon="phone_iphone" style="color: #5A5A5A;"></mat-icon>

            0963319244 - 0987243834
          </li>

          <li class="flex gap-2 text-sm font-normal px-4 text-text-950">
            <mat-icon svgIcon="call" style="color: #5A5A5A;"></mat-icon>

            072 576031 <br>
            ext: 402 (Contabilidad) <br>
            ext: 501 - 501 - 503 (Soporte)
          </li>
        </ul>
      </div>

      <p class="text-sm font-semibold py-4 text-center rounded-lg text-white bg-primary-600">
        ¡Atendemos de Lunes a Viernes 9 am a 19 pm!
      </p>
    </app-icon-dropdown>

    <span class="flex items-center justify-center p-3 rounded-full cursor-pointer hover:bg-gray-50">
      <mat-icon svgIcon="info"></mat-icon>
    </span>

    <span class="flex items-center justify-center text-gray-500 rounded-full cursor-pointer">
      <img src="https://api.dicebear.com/9.x/micah/svg?seed=Ryan" alt="cuenta" class="w-[40px] h-[40px] border-gray-500 border-1 rounded-full" />
    </span>
  </div>
</header>

<!-- Popup con los módulos -->
<!-- <div #floatingMenu id="floating-menu" class="hidden floating-menu">
  <div class="popup-content">
    <h3>Módulos</h3>
    <div class="module-grid">
      <div *ngFor="let group of groupedModules" class="module-group">
        <h4>{{ group.category }}</h4>
        <div class="module-items">
          <div
            *ngFor="let module of group.modules"
            class="module-item"
            (click)="navigateTo(module.name)"
            (mouseenter)="highlightModule(module)"
            (mouseleave)="unhighlightModule(module)"
          >
            <i class="module-icon" [class]="getModuleIcon(module.name)"></i>
            <span [class.selected]="module.selected">{{ module.name }}</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div> -->

<!-- Popup de Notificaciones -->
<!-- <div #notificationsPopup id="notifications-popup" class="hidden floating-menu">
  <div class="popup-content">
    <h3>Notificaciones</h3>
    <div class="notification-groups">
      <div *ngFor="let group of notificationGroups" class="notification-group">
        <h4>{{ group.category }}</h4>
        <div class="notification-items">
          <div *ngFor="let notification of group.notifications" class="notification-item">
            <i [class]="getNotificationIcon(notification.type)"></i>
            <div class="notification-item-content">
              <strong>{{ notification.title }}</strong>
              <p>{{ notification.description }}</p>
              <span>{{ notification.date | date : 'dd/MM/yyyy, hh:mm a' }}</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div> -->

<!-- Popup de Soporte -->
<!-- <div #supportPopup id="support-popup" class="hidden floating-menu">
  <div class="popup-content">
    <h3>Soporte</h3>
    <div class="support-items">
      <div class="support-item">
        <i class="fa-solid fa-phone"></i>
        <div class="contact-info">
          <span>096 331 9244</span>
          <span>098 724 3834</span>
          <span>072 576 031</span>
          <span>Ext: 402 (Contabilidad)</span>
          <span>Ext: 501 - 502 - 503 (Soporte)</span>
        </div>
      </div>
      <div class="support-item">
        <i class="fa-solid fa-clock"></i>
        <span>Atendemos de lunes a viernes de 9:00 a 19:00</span>
      </div>
      <div class="support-item clickable" (click)="openMessenger()">
        <i class="fa-brands fa-facebook-messenger"></i>
        <span>Enviar mensaje por Messenger</span>
      </div>
      <div class="support-item clickable" (click)="openTelegram()">
        <i class="fa-brands fa-telegram"></i>
        <span>Enviar mensaje por Telegram</span>
      </div>
      <div class="support-item clickable" (click)="openSMS()">
        <i class="fa-solid fa-comment-sms"></i>
        <span>Enviar mensaje de texto (SMS)</span>
      </div>
    </div>
  </div>
</div> -->
