<header class="w-full flex justify-end items-center text-red-500 bg-white">
  <div class="w-1/3 flex items-center px-2">
    @if (isDashboard ) {
    <a href="dashboard">
      <img src="/svg/logo-billingsof.svg" alt="Logo horizontal BillingSof" />
    </a>
    }
  </div>
  <div class="w-1/3 flex justify-center items-center text-xl font-medium">{{ empresa }}</div>
  <div class="w-1/3 flex justify-end items-center p-2 gap-x-4">
    <span #notificationsToggle id="notifications-toggle" class="cursor-pointer rounded-full hover:bg-gray-50 p-3 flex justify-center items-center">
      <mat-icon svgIcon="notifications"></mat-icon>
    </span>
    <span #menuToggle id="menu-toggle" class="cursor-pointer rounded-full hover:bg-gray-50 p-3 flex justify-center items-center">
      <mat-icon svgIcon="apps"></mat-icon>
    </span>
    <span #supportToggle id="support-toggle" class="cursor-pointer rounded-full hover:bg-gray-50 p-3 flex justify-center items-center">
      <mat-icon svgIcon="support_agent"></mat-icon>
    </span>
    <span class="cursor-pointer rounded-full hover:bg-gray-50 p-3 flex justify-center items-center">
      <mat-icon svgIcon="info"></mat-icon>
    </span>
    <span class="cursor-pointer rounded-full flex justify-center items-center text-gray-500">
      <img src="https://api.dicebear.com/9.x/micah/svg?seed=Ryan" alt="cuenta" class="w-[40px] h-[40px] border-gray-500 border-1 rounded-full" />
    </span>
  </div>
</header>

<!-- Popup con los módulos -->
<div #floatingMenu id="floating-menu" class="floating-menu hidden">
  <div class="popup-content">
    <h3>Módulos</h3>
    <div class="module-grid">
      <div *ngFor="let group of groupedModules" class="module-group">
        <h4>{{ group.category }}</h4>
        <div class="module-items">
          <div
            *ngFor="let module of group.modules"
            class="module-item"
            (click)="navigateTo(module.name)"
            (mouseenter)="highlightModule(module)"
            (mouseleave)="unhighlightModule(module)"
          >
            <i class="module-icon" [class]="getModuleIcon(module.name)"></i>
            <span [class.selected]="module.selected">{{ module.name }}</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Popup de Notificaciones -->
<div #notificationsPopup id="notifications-popup" class="floating-menu hidden">
  <div class="popup-content">
    <h3>Notificaciones</h3>
    <div class="notification-groups">
      <div *ngFor="let group of notificationGroups" class="notification-group">
        <h4>{{ group.category }}</h4>
        <div class="notification-items">
          <div *ngFor="let notification of group.notifications" class="notification-item">
            <i [class]="getNotificationIcon(notification.type)"></i>
            <div class="notification-item-content">
              <strong>{{ notification.title }}</strong>
              <p>{{ notification.description }}</p>
              <span>{{ notification.date | date : 'dd/MM/yyyy, hh:mm a' }}</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Popup de Soporte -->
<div #supportPopup id="support-popup" class="floating-menu hidden">
  <div class="popup-content">
    <h3>Soporte</h3>
    <div class="support-items">
      <div class="support-item">
        <i class="fa-solid fa-phone"></i>
        <div class="contact-info">
          <span>096 331 9244</span>
          <span>098 724 3834</span>
          <span>072 576 031</span>
          <span>Ext: 402 (Contabilidad)</span>
          <span>Ext: 501 - 502 - 503 (Soporte)</span>
        </div>
      </div>
      <div class="support-item">
        <i class="fa-solid fa-clock"></i>
        <span>Atendemos de lunes a viernes de 9:00 a 19:00</span>
      </div>
      <div class="support-item clickable" (click)="openMessenger()">
        <i class="fa-brands fa-facebook-messenger"></i>
        <span>Enviar mensaje por Messenger</span>
      </div>
      <div class="support-item clickable" (click)="openTelegram()">
        <i class="fa-brands fa-telegram"></i>
        <span>Enviar mensaje por Telegram</span>
      </div>
      <div class="support-item clickable" (click)="openSMS()">
        <i class="fa-solid fa-comment-sms"></i>
        <span>Enviar mensaje de texto (SMS)</span>
      </div>
    </div>
  </div>
</div>
