<nav class="text-red-500 border-r-1 border-gray-500 h-screen">
  <header class="w-full flex justify-start items-center bg-white">
    <div class="w-2/3 flex items-center px-2">
      <a href="dashboard">
        <img src="/svg/logo-billingsof.svg" alt="Logo horizontal BillingSof" class="h-[7vh]" />
      </a>
    </div>
  </header>
  <div class="flex-1 flex flex-col justify-center items-center bg-gray-50 border-y-1 border-gray-500 py-2">
    <mat-icon svgIcon="apps" style="height: 80px; width: 80px;"></mat-icon>
    <span>Administración</span>
  </div>
  <div class="flex-7 p-3 space-y-4 text-gray-500">

    @for (item of grupo1; track $index) {
    <div class="flex items-center space-x-2 p-2 rounded-full hover:bg-gray-500">
      <mat-icon svgIcon="{{item.icon}}"></mat-icon>
      <span>{{item.name}}</span>
    </div>
    }
    <hr>
    @for (item of grupo2; track $index) {
    <div class="flex items-center space-x-2 p-2 rounded-full hover:bg-gray-500">
      <mat-icon svgIcon="{{item.icon}}"></mat-icon>
      <span>{{item.name}}</span>
    </div>
    }
    <hr>
    @for (item of grupo3; track $index) {
    <div class="flex items-center space-x-2 p-2 rounded-full hover:bg-gray-500">
      <mat-icon svgIcon="{{item.icon}}"></mat-icon>
      <span>{{item.name}}</span>
    </div>
    }
    <hr>
    @for (item of grupo4; track $index) {
    <div class="flex items-center space-x-2 p-2 rounded-full hover:bg-gray-500">
      <mat-icon svgIcon="{{item.icon}}"></mat-icon>
      <span>{{item.name}}</span>
    </div>
    }

  </div>
</nav>