<!-- Navegación superior -->
<nav class="bg-white shadow flex justify-between items-center p-4">
  <div class="flex items-center">
    <img src="/img/icon.png" alt="logo" class="h-8 mr-2">
    <h1>Tipos PVP</h1>
  </div>
  <h2>Gestión de Precios</h2>
  <h2 class="text-xl font-bold text-red-500">Supermercado "LABRYC" CIA LTDA</h2>
  <div class="flex items-center space-x-4">
    <i class="fas fa-bell text-red-500 cursor-pointer"></i> <!-- Ícono de notificaciones -->
    <i class="fas fa-th text-red-500 cursor-pointer"></i> <!-- Ícono de menú -->
    <i class="fas fa-home text-red-500 cursor-pointer"></i> <!-- Ícono de inicio -->
    <i class="fas fa-info-circle text-red-500 cursor-pointer"></i> <!-- Ícono de información -->
    <img src="/img/user.png" alt="Usuario" class="h-8 w-8 rounded-full">
  </div>
</nav>

<!-- Contenedor principal con ambos menús y contenido -->
<div class="billing-admin-container">
  <!-- Menú de Administración (Colapsable) -->
  <aside class="admin-menu" [class.collapsed]="isAdminMenuCollapsed">
    <ul class="menu">
      <li class="menu-item admin" (click)="navigateTo('Administración')">
        <i class="fas fa-cog"></i> <span>Administración</span>
      </li>
      <li class="menu-item" (click)="navigateTo('Productos')" [ngClass]="{ active: isActive('Productos') }">
        <i class="fas fa-box"></i> <span>Productos</span>
      </li>
      <li class="menu-item" (click)="navigateTo('Proveedores')">
        <i class="fas fa-truck"></i> <span>Proveedores</span>
      </li>
      <li class="menu-item" (click)="navigateTo('Tipos PVP')">
        <i class="fas fa-dollar-sign"></i> <span>Tipos PVP</span>
      </li>
      <li class="menu-item" (click)="navigateTo('Clientes')">
        <i class="fas fa-users"></i> <span>Clientes</span>
      </li>
      <li class="menu-item" (click)="navigateTo('Cuentas Contables')">
        <i class="fas fa-calculator"></i> <span>Cuentas Contables</span>
      </li>
      <li class="menu-item" (click)="navigateTo('Empresa')">
        <i class="fas fa-building"></i> <span>Empresa</span>
      </li>
      <li class="menu-item" (click)="navigateTo('Configuración')">
        <i class="fas fa-gear"></i> <span>Configuración</span>
      </li>
    </ul>
    <div class="footer">
      <span>© 2024 Punto Pymes CIA</span>
      <button class="toggle-admin-menu" (click)="toggleAdminMenu()">
        <i [ngClass]="isAdminMenuCollapsed ? 'fas fa-angles-right' : 'fas fa-angles-left'"></i>
      </button>
    </div>
  </aside>

  <!-- Menú Principal (Izquierda) -->
  <aside class="side-menu">
    <ul class="menu">
      <li class="menu-item" (click)="navigateTo('Precios')" [ngClass]="{ active: isActive('Precios') }">
        <i class="fas fa-money-bill-transfer"></i> <span>Precios</span>
      </li>
    </ul>
  </aside>

  <!-- Enrutamiento de Angular -->
  <router-outlet></router-outlet>
</div>