<app-barra-ubicacion></app-barra-ubicacion>

<app-barra-busqueda
  [opcionesBusqueda]="opcionesBusqueda"
  [filtrosConfiguracion]="filtrosConfiguracion"
  [columnasDisponibles]="columnasDisponibles"
  (filtrosAplicados)="onFiltrosAplicados($event)"
  (actualizarColumnasEvent)="onColumnasActualizadas($event)">
</app-barra-busqueda>

<app-tabla-dinamica
  [productoEditar]="productoSeleccionado"
  [bloques]="bloquesFormulario"
  (guardarRegistro)="onGuardarProducto($event)"
  (eliminarRegistro)="onEliminarProducto($event)"
  (editarRegistro)="onEditarProducto($event)"
></app-tabla-dinamica>





