<section class="flex flex-col">
  <div class="welcome-section">
    <div class="welcome-section__breadcrumbs">
      <span class="icon-button">
        <i class="fa-solid fa-house icon"></i>
      </span>

      <p>
        Dashboard
        <span>/</span>
      </p>
    </div>

    <div class="welcome-section__content">
      <div class="search-bar">
        <input id="search-input" type="text" placeholder="Qué Módulo esta buscando?" (input)="searchQuery.set($any($event.target).value)" class="search-bar__input" />

        <button type="button" class="search-bar__button">
          <i class="fa-solid fa-magnifying-glass"></i>
        </button>
      </div>
    </div>
  </div>

  <div class="flex flex-wrap items-center justify-start flex-1 gap-5 p-3">
    @for (item of filteredRoutes(); track $index) {
    <a class="flex flex-col space-y-3 justify-center items-center bg-white rounded-lg shadow-lg hover:bg-gray-300 aspect-1/1 w-[10vw]" role="button" [routerLink]="[item.path]">
      <mat-icon svgIcon="{{ item.icon?.name }}" style="width: 25%; height: 25%"></mat-icon>
      <span>{{ item.name }}</span>
    </a>
    }
  </div>
</section>
