@use 'tailwindcss';
@use 'styles/tailwind.scss' as *;
@use 'styles/catalogo/colores.scss' as *;
@forward 'styles/catalogo/colores.scss';

body {
  background-color: $fondo-gris-suave;
}

/* Hidde scrollbar */
*::-webkit-scrollbar {
  display: none; /* Chrome, Safari and Opera */
}
* {
  -ms-overflow-style: none; /* Internet Explorer 10+ */
  scrollbar-width: none; /* Firefox */
}
